# ==========================================
# Python Virtual Environments & Caches
# ==========================================
__pycache__/
*.py[cod]
.venv/
.uv/
uv.lock

# ==========================================
# Environment Variables & Secrets
# ==========================================
.env

# ==========================================
# dbt Build Artifacts & Logs
# ==========================================
target/
dbt_packages/
logs/

# ==========================================
# Editor Settings (VS Code, PyCharm)
# ==========================================
.vscode/
.idea/

# ==========================================
# System Hidden Files (Windows/macOS)
# ==========================================
.DS_Store
Thumbs.db
